### yarn ###
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

### Nuxt ###
.nuxt
dist
.output
assets/fonts
assets/css/fonts.css

### Nuxtjs ###
node_modules
npm-debug.log

### VisualStudioCode ###
.history
.ionide
.vscode/*
*.code-workspace

### IntelliJ and WebStorm ###
out/
*.iml
.idea
