### yarn ###
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

### Nuxt ###
.nuxt
dist

### Nuxtjs ###
node_modules
npm-debug.log

### VisualStudioCode ###
.history
.ionide
.vscode/*
*.code-workspace

### IntelliJ and WebStorm ###
out/
*.iml
.idea
