.karlaFont {
	font-family:
		"Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
}
