@import "tailwindcss";

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	height: 100%;
}

body,
#root {
	height: 100%;
}
