name: Generate pages

on: [ push, pull_request ]

jobs:
  deploy:
    name: Generate pages
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - run: corepack enable
      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - name: Set up Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          cache: 'pnpm'
          node-version-file: .node-version
          cache-dependency-path: pnpm-lock.yaml
      - name: Install dependencies
        run: pnpm install
      - name: Run check
        run: pnpm check
      - name: Build
        run: pnpm generate
      - name: Upload artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        continue-on-error: true
        with:
          name: homepage-build-${{ github.run_number }}
          path: ./dist

      - name: Deploy to GitHub Pages
        if: ${{ github.repository == 'Siroshun09/homepage' && github.ref == 'refs/heads/master' }}
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        with:
          external_repository: Siroshun09/siroshun09.github.io
          personal_token: ${{ secrets.TOKEN_FOR_DEPLOYING_TO_GH_PAGES }}
          publish_dir: ./dist
          allow_empty_commit: true
